@import "../../responsive.scss";

.searchBar {
    .type {
        button {
            padding: 16px 36px;
            border: 1px solid #f5f5f5;
            border-bottom: none;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;

            &.active {
                background-color: black;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-right: none;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-left: none;
            }
        }
    }

    .search-container {
        display: flex;
        align-items: center; 
        gap: 5px;
    }

    form {
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include sm {
            flex-direction: column;
        }

        input {
            border: none;
            padding: 0 16px;
            width: 200px;


            @include lg {
                padding: 0px 5px;
    
                &:nth-child(2), &:nth-child(3) {
                    width: 140px;
                }
            }

            @include md {
                width: auto;
                &:nth-child(2),
                &:nth-child(3) {
                    width: auto;
                }
            }

            @include sm{
                padding: 20px;
            }
        }

        
        
    }

    .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: none;
        background-color: #fece51;
        cursor: pointer;
    }

    .search-btn img {
        width: 24px;
        height: 24px;
    }
}
